<!DOCTYPE html>
<html ng-app="devaldo_rojo_web_app">

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
    <script src="js/ParseCtrl.js"></script>
</head>

<body ng-controller="ParseCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="fa fa-align-justify fa-3x"></span>
                </button>
            </div>
            <div class="hidden-xs ">
                <a class="navbar-brand">
                    <img data-0="max-height:700%; max-width:700%" data-20="max-height:500%; max-width:500%;" class="img-responsive center-block" src="img/logo/Devaldo_Rojo.png"></img>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#home">HOME</a>
                    </li>
                    <li>
                        <a href="#players">SPELERS</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#klassement">KALENDER</a>
                    </li>
                    <li><a href="#klassement">KLASSEMENT</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 120px">
        <div class="row" id="home">
            <h1 class="text-center"> Laatste resultaat</h1>
            <hr class="divider ">
            <h5 class="text-center">Kern Gent De Pinte Reeks 4D </h5>

            <div class="col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-2">
                <img src="img/logo/Default.png" class="img-responsive" alt="Image">
                <h4 class="text-center">New kids</h4>
            </div>
            <div class="col-xs-2  col-md-2 col-sm-2 score" id="score_home">
                <h1 class="text-center">2</h1>
            </div>
            <div class="col-xs-2 col-xs-2 col-sm-2 score" id="score_away">
                <h1 class="text-center score">2</h1>
            </div>
            <div class="col-xs-2 col-md-2 col-sm-2">
                <img src="img/logo/Devaldo_Rojo.png" class="img-responsive" alt="Image">
                <h4 class="text-center">Devaldo Rojo</h4>
            </div>
        </div>
        <div class="row">
            <h5 class="text-center">Matchverslag</h5>
            <hr class="divider line">
            <div class="col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <blockquote>
                        <p>blashdjs mooie goal zever.</p>
                        <small>Dixit Eli</small>
                    </blockquote>

                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                </p>
                <hr>
            </div>

        </div>
        <div data-bottom-top="opacity: 0; transform: translateX(0px);" data-center-bottom="opacity: 1; transform: translateX(0px);" id="players">
            <div class="row" ng-init="getPlayers()">
                <h1 class="text-center"> Spelersoverzicht</h1>
                <hr class="divider ">
                <div ng-repeat="player in players.results">
                    <div class="col-xs-3" ng-if="$index<4">
                        <img ng-src="{{player.speler_image.url}}" class="img-responsive img-circle center-block">

                        <p class="text-center">{{player.naam}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-bottom-top="opacity: 0; transform: translateX(0px);" data-center-bottom="opacity: 1; transform: translateX(0px);">
            <div ng-repeat="player in players.results">
                <div class="col-xs-3" ng-if="$index>=4">
                    <img ng-src="{{player.speler_image.url}}" class="img-responsive img-circle center-block">

                    <p class="text-center">{{player.naam}}</p>
                </div>
            </div>
        </div>

        <div class="row" id="klassement">
            <h1 class="text-center"> Klassement & Matchen</h1>
            <hr class="divider ">
            <div class="col-lg-6">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#klassement_tab" data-toggle="tab" aria-expanded="true">Klassement</a>
                    </li>
                    <li class=""><a href="#topscorers" data-toggle="tab" aria-expanded="false">Topscorers</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="klassement_tab">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Team</th>
                                    <th>P</th>
                                    <th>W</th>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>PTS</th>
                                </tr>
                            </thead>
                            <tbody ng-init="getRanking()">
                                <tr class="active" ng-repeat="team in ranking.results| toArray | orderBy:['-gewonnen','-gelijk']">
                                    <td>{{$index +1}}</td>
                                    <td>{{team.team}}</td>
                                    <td>{{team.gewonnen+team.gelijk+team.verloren}}</td>
                                    <td>{{team.gewonnen}}</td>
                                    <td>{{team.gelijk}}</td>
                                    <td>{{team.verloren}}</td>
                                    <td>{{team.gewonnen*3 + team.gelijk}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="topscorers">
                        <ul class="list-group">
                            <li ng-repeat="player in players.results|toArray|orderBy:'-doelpunten'" class="list-group-item">
                                <span class="badge">{{player.doelpunten}}</span>
                                {{$index +1 + '. ' + player.naam}}

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Kalender</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-init="getKalender()">
                            <div ng-repeat="match in kalender.results | toArray | orderBy:'webDate'">
                                <a ng-if="$index==0" href="" data-toggle="modal" data-target="#matchinfo" class="list-group-item active">
                                    <span class="badge">{{match.DatumWeb}}</span>
                                    {{match.HomeTeam + ' - ' + match.AwayTeam}}
                                </a>
                                <a ng-if="$index >0 && $index <=2" href="" data-toggle="modal" data-target="#matchinfo" class="list-group-item">
                                    <span class="badge">{{match.DatumWeb}}</span>
                                    {{match.HomeTeam + ' - ' + match.AwayTeam}}
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">Volgende match</div>
                <div class="panel-body">
                    Volgende match countdown zever
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>-->
            <div class="modal fade" id="matchinfo" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Partizan Gent - Devaldo Rojo</h4>
                        </div>
                        <div class="modal-body">
                            Straat, uur ,blabla
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/skrollr.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('a[href^="#"]').on('click', function (e) {
                    e.preventDefault();

                    var target = this.hash;
                    var $target = $(target);

                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 900, 'swing', function () {
                        window.location.hash = target;
                    });
                });
            });
            skrollr.init({
                smoothScrolling: false,
                forceHeight: false,
            });
        </script>
</body>

</html>